#Additional-User-Defined--TOEDIT
data/
result/


#FolderTemporary

#Byte-compiled/optimised/DLLfiles
__pycache__/
*.py[cod]
*.pyc

#Cextensions
*.so

#Distribution/packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#PyInstaller
#Usuallythesefilesarewrittenbyapythonscriptfromatemplate
#beforePyInstallerbuildstheexe,soastoinjectdate/otherinfosintoit.
*.manifest
*.spec

#Installerlogs
pip-log.txt
pip-delete-this-directory.txt

#Unittest/coveragereports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

#Translations
*.mo
*.pot

#Sphinxdocumentation
docs/_build/

#PyBuilder
target/

#DotEnvconfiguration
.env

#Database
*.db
*.rdb

#Pycharm
.idea

#VSCode
.vscode/

#Spyder
.spyproject/

#JupyterNBCheckpoints
.ipynb_checkpoints/


#MacOS-specificstoragefiles
.DS_Store

#vim
*.swp
*.swo

#Mypycache
.mypy_cache/
